body{
    background-color: bisque;
}

button{
    width:130px;
    height:40px;
    color:white;
    background-color: black;
    margin:250px 0 0 0;
    border:none;
    border-radius: 7px;
}

#on{
    margin-left:550px;
    margin-right:20px;
}

@media  screen and ( max-width:900px){ 
    button{
        display:block;
        margin:0;
    }
    #on{
        margin:500px 0 0 230px;
       
    }

     #off{
        margin:40px 0 0 230px;
    }
}
}



